// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background: url("../assets/svg/bg-hexagon.svg");
}

.navbar-laravel {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
