html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.box {
  width: 100%;
  height: 100%;
  // background: url("/svg/desenhado-7.svg") no-repeat center center;
  table-layout: fixed;
  display: table;
  position: relative;

  &:before,
  &:after {
    top: 5%;
    right: -30%;
    width: 50%;
    height: 90%;
    content: '';
    position: absolute;
    z-index: -1;
  }

  &:before {
    right: -25%;
    background-color: rgba(yellow, .2);
    transform: rotate(5deg);
    // border-radius: 42% 58% 54% 46%/59% 58% 42% 41%;
    // border-radius: 43% 57% 37% 63%/57% 51% 49% 43%;
    // border-radius: 59% 41% 44% 56%/45% 54% 46% 55%;
  }

  &:after {
    background-color: rgba(yellow, .5);
    transform: rotate(-5deg);
    // border-radius: 42% 58% 54% 46%/59% 58% 42% 41%;
    // border-radius: 43% 57% 37% 63%/57% 51% 49% 43%;
    // border-radius: 59% 41% 44% 56%/45% 54% 46% 55%;
  }

  &-top {
    display: table-row;

    &-content {
      vertical-align: middle;
      display: table-cell;
    }
  }

  &-middle {
    height: 100%;
    display: table-row;
    position: relative;

    &-content {
      vertical-align: middle;
      display: table-cell;
    }
  }
}

.navbar {
  padding: 3% 5% 0 5%;

  &-left {
    &-hamburger {
      position: relative;
      cursor: pointer;

      &:before,
      &:after {
        top: -10px;
        width: 45px;
        height: 4px;
        background-color: #0c0c0c;
        content: '';
        position: absolute;
      }

      &:after {
        top: 10px;
      }

      width: 45px;
      height: 4px;
      background-color: #0c0c0c;
    }
  }
}

.brand {
  width: 250px;
  display: inline-block;
}

.description {
  margin-top: 0;
  font-size: 5em;
  text-align: center;
  color: black;
}

/* Animations */
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}